header{
	font-style: roboto-condensed;
}
nav.navbar {
    display: flex;
    justify-content: flex-end;
}
body{
background-color: #f7f7f7;
font-style: condensed;
}
img {
    height: 150px;
}
section.main-logo {
    display: flex;
    justify-content: center;
}
.ducktextlogo {
    display: flex;
    justify-content: center;
}
input[type="text"] {
    height: 30px;
    width: 40%;
}
.search-bar{
	display: flex;
    justify-content: center;
}
.text-underlogo{
	padding-top: 25px;
    display: flex;
    justify-content: center;
}
.underlogocircle{
	display: flex;
    justify-content: center;
    padding-top: 34px;
}
img#undersearch-flag {
    height: 70px;
}

.green-section {
    background-color: lightgreen;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.orage-section{
	display: flex;
    align-items: center;
    flex-direction: column;
    background-color: orange;
    width: 100%;
}
.purple-section{
	display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.blue-section {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
section.orage-section {
    background-color: darkorange;
}
section.purple-section {
    background-color: slateblue;
}
section.blue-section{
	background-color: lightblue;
}